@media (min-width: 540px) {  
  .btn {
    font-size: var(--fs-7);
    padding-inline: 30px 60px;
  }
  .header-contact {
      color: var(--white);
      display: flex;
      align-items: center;
      gap: 20px;
      text-align: right;
      line-height: 1.2;
      margin-inline-start: auto;
  }
  
  .header .email-label {
      text-transform: uppercase;
      font-size: var(--fs-9);
  }
  
  .header .email_address {
      font-size: var(--fs-6);
      font-weight: var(--fw-600);
      letter-spacing: 1px;
  }
  
  .header .email-icon {
    font-size: 35px;
    opacity: 0.6;
  }
  .about .abs-img-2 {
    display: block;
    position: absolute;
    width: 400px;
    bottom: 0;
    left: 50px;
    z-index: -1;
  }
  .about .abs-img-1 { right: -200px; 
  }
  .hero {
    grid-template-columns: 1fr;
  }
    
}

@media (min-width: 640px) {
    .h1 { 
        --fs-3: 5rem; 
    }
  
    .container {
      max-width: 540px;
      width: 100%;
      margin-inline: auto;
    }
  
    .header .container { 
        max-width: unset; 
    }
  
    .header .logo { 
        font-size: 3.5rem; 
    }
    
    .hero .shape-1 { 
        left: 45px; 
    }
    .hero {
      grid-template-columns: 1fr;
    }
  
    .hero-content {
      background-color: transparent;
      text-align: left;
    }
  
    .hero-title .span { 
        --fs-2: 6rem; 
    }
  
    .hero-text { 
        max-width: 30ch;
    }
  
    .btn-outline { 
        margin-inline: 0; 
    }
  
}
  
  
  
@media (min-width: 768px) {
    
    .container { 
        max-width: 720px; 
    }
  
    .h1 {
        --fs-3: 6rem; 
    }
  
    .grid-list { 
        grid-template-columns: 1fr 1fr; 
    }
  
  
    .hero-title .span { 
        --fs-2: 7rem; 
    }
  
    .hero-text {
      font-size: var(--fs-7);
      max-width: 40ch;
      margin-block-end: 40px;
    }
    .hero {
      grid-template-columns: 1fr;
    }
  
    .btn-outline {
      font-size: var(--fs-7);
      padding: 12px 30px;
    }
  
    
    .feature-card::before { 
        --fs-1: 10rem; 
    }
  
  
    .project-list { 
        gap: 80px; 
    }
  
    .project-item { 
        min-width: calc(50% - 40px); 
    }
  
  
    .newsletter { 
        margin-block-start: 110px; 
    }
  
    .newsletter .container { 
        position: relative; 
    }
  
    .newsletter .newsletter-banner {
      position: absolute;
      bottom: -50px;
      left: 0;
      margin-block-end: 0;
    }
  
    .newsletter-content {
      max-width: 355px;
      margin-inline-start: auto;
    }
  
    .newsletter .section-title { 
        --fs-4: 4rem; 
    }
  
    .newsletter-btn {
      font-size: var(--fs-5);
      padding: 10px 30px;
    }
  
    .footer-top { 
        grid-template-columns: 1fr 1fr; 
    }
  
}
  
  
    
  @media (min-width: 992px) {
  
    :root {  
      --fs-4: 4.5rem;
      --section-padding: 120px; 
    }
  
    .container { max-width: 960px; }
  
    .register-card-container{
      max-width: 500px;
    }
  
    .h1 { --fs-3: 10rem; }
  
    .section-subtitle { --fs-6: 3rem; }
  
    .section-text {
      max-width: 70ch;
      margin-inline: auto;
    }
  
    .grid-list { grid-template-columns: repeat(3, 1fr); }
  
    
    .nav-open-btn, .navbar-bottom,
    .navbar-top,
    .navbar-link > ion-icon { display: none; }
  
    .navbar,
    .navbar.active { all: unset; }
  
    .navbar-list {
      display: flex;
      gap: 5px;
    }
  
    .navbar-item:not(:last-child) { border-block-end: none; }
  
    .navbar-link { color: var(--white); }
  
    .navbar-link:is(:hover, :focus) { background-color: transparent; }
  
    .header-contact { margin-inline-start: 0; }
  
  
    
    .hero { grid-template-columns: 1fr; }
  
    .hero-content { padding: 0; }
  
    .hero-title .span { --fs-2: 12rem; }
    .about .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 30px;
    }
  
    .about-banner { margin-block-end: 0; }
  
    .about .abs-img-1 { right: -100px; }
  
    .about :is(.section-title, .section-text) { margin-block-end: 35px; }
  
  
    .feature .title-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: self-end;
    }
  
    .feature .section-text { margin-block-end: 0; }
  
    .feature-list { margin-block-start: 120px; }
  
    .feature-card { padding-block-start: 80px; }
  
    .feature-card::before {
      --fs-1: 16rem;
      position: absolute;
      top: -90px;
      left: 20px;
    }
    
    .project-item { min-width: calc(33.33% - 53.33px); }
  
    .blog-list { grid-template-columns: 1fr 1fr; }
  
  
    .newsletter { padding-block: 30px; }
  
    .newsletter .newsletter-banner { bottom: -30px; }
  
    .newsletter-content {
      max-width: 600px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .footer-top {
      grid-template-columns: repeat(4, 1fr);
      justify-items: self-end;
    }
  
    .copyright { text-align: center; }
  
  }
  


  @media (min-width: 1200px) {
  
    .container { 
      max-width: 1180px; 
    }
  
    .register-card-container{
      max-width: 380px;
    }
  
    .h1 { --fs-3: 12rem; }
  
    .header .email_address { 
      --fs-6:  2.5rem; 
    }
    .hero {
      padding-block-start: 150px;
      background-position: left;
    }
  
    .hero-title .span { --fs-2: 14rem; }
  
    .hero-text { --fs-7: 2.4rem; }
  
    .about-banner { max-width: 370px; }
  
    .about .abs-img-2 { width: max-content; }
  
    .newsletter-content {
      max-width: 840px;
      grid-template-columns: 0.8fr 1fr;
    }
  
  
    .footer-top { padding-block: 60px; }
  
  }






/*SHIPMENT*/
@media only screen and (min-width: 798px) and (max-width: 1100px) {
  .shipment-details-section .container {
    width: 80%;
  }
}

@media only screen and (max-width: 798px) {
  .shipment-details-section .container {
    width: 70%;
    transform: translateX(20px);
  }

}
@media only screen and (max-width: 550px) {
  .shipment-details-section .container {
    width: 80%;
  }

  .shipment-details-section .container ul::after {
    left: -20px;
  }

  .shipment-details-section .container ul li .circle {
    left: -20px;
  }
}


/* ABOUT PAGE */
@media screen and (max-width: 768px){
  .taiga-logo {
    height: 8.5rem;
  }
  .about-us-head-text {
    font-size: 5rem;
  }
  .about_banner {
    min-height: 30vh;
  }
  .about-text-1 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .about-text-1 div h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .about-text-2 {
    padding: 2rem;
  }
}
@media screen and (max-width: 540px){
  .about-text-2{
    gap: 2rem;
  }
  .about-up {
    flex-direction: column;
  }
  .about-down {
    margin: 0;
    padding: 2rem;
  }
  .about-left {
    padding: 2rem;
  }
  .about-right {
    padding: 2rem;
  }
  body{
    line-height: 1.2;
  }
}



/* AIR FREIGHT */
@media screen and (max-width: 1440px ) {
  .airfreight-banner{
    height: 350px;
  }
  .header-block-rounded{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .inner-features{
    padding-bottom: 2rem;
  }
  .heading-xxl{
    font-size: 3.5rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .header-block-rounded{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .airfreight-banner {
    height: 300px;
  }
  .inner-features{
    padding-bottom: 1rem;
  }
  .heading-xxl{
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .airfreight-container-1{
    padding: 0 60px;
  }
  .side-text h3 {
    font-size: 2.8rem;
  }
  .article-wrapper{
    padding: 0;
    margin: 0 -3rem;
  }
}


@media screen and (max-width: 768px) {
  .airfreight-banner{
    height: 25vh;
  }
  .header-block-rounded{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .inner-features{
    padding-bottom: 1rem;
    margin-top: 40px;
    padding-top: 0px;
  }
  .main-text{
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
  .levels-container{
    flex-direction: column;
  }
  .air-text-heading{
    width: 100%;
    padding-top: 0;
    margin-bottom: 2rem;
  }
  .heading-xxl{
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .airfreight-container-1{
    padding: 0 60px;
    margin-top: 50px;
  }
  .side-text{
    width: auto;
    padding-left: 0;
    margin-top: 3rem;
  }
  .side-img{
    width: 100%;
  }
  .side-text h3 {
    font-size: 2.2rem;
  }
  .air-levels {
    width: 100%;
  }
  .first-div{
    margin-top: 50px;
    padding: 0 3rem;
  }
  .second-div{
    flex-direction: column;
  }
  .third-div {
    flex-direction: column;
  }
  .forth-div {
    flex-direction: column;
  }
}

@media screen and (max-width: 430px) {
  .airfreight-banner {
    height: 15vh;
  }
  .airfreight-container-1 {
    padding: 0;
  }
  .text-div{
    width: 100%;
  }
  .main-text {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .air-main{
    font-size: 1.2rem;
  }
  .heading-xxl{
    font-size: 2.2rem;
  }
  .side-text h3 {
    font-size: 2.1rem;
  }
  .footer{
    font-size: 1.3rem;
  }
  .article-wrapper{
    padding: 0;
  }
}

@media screen and (max-width: 280px) {
  .article-wrapper{
    margin: 0 1rem;
  }
  .first-div {
    margin-top: 120px;
  }
  .heading-xxl {
    font-size: 1.8rem;
  }
  .air-text-heading{
    font-size: 1.6rem;
  }
  .air-text-header{
    font-size: 1.3rem;
  }
  .second-div{
    padding: 0 1rem;
  }
  .third-div{
    padding: 0 1rem;
  }
  .forth-div{
    padding: 0 1rem;
  }
}
















  